[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.5"
djangorestframework = "==3.9.1"
mysqlclient = {path = "D:/Python_Workspace/test_one/mysqlclient-1.4.6-cp35-cp35m-win_amd64.whl"}

[dev-packages]

[requires]
python_version = "3.5"
